html {
	height: 100%;
	margin: auto;
	display: table;
}
body {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background-color: gray;
}
canvas {
	image-rendering: pixelated;
}
img {
	position: fixed;
	right: 1vw;
	bottom: 1vh;
}
